.titleHeader{
    text-align: center;
    background-color: silver;
    background-size: auto;
    color:maroon;
    font-family: 'Amiri', serif;

}

.linkText{
    color: maroon;
    font-size: large;

}
body {
    background-image: url("https://www.kznhomeautomation.co.za/img/slide/slides/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    /* background-color: #cccccc; */
  }

.projectsDone{
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
}

.abtME{
    margin-bottom: 30px;
    margin-left: 20px;
    /* width: 1200px;
    margin-left: 0px !important; */
}

.styling{
    text-align: center;
    background-color: silver;
    background-size: auto;
    color:maroon;
    font-family: 'Amiri', serif;
    
}

.pStyl{
    font-family: 'Crimson Text', serif;
}
